* {
    border: none;
    border-radius: 0px;
    font-family: "FiraCode Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
}

#cpu,
#memory,
#temperature,
#battery,
#network,
#window {
    background-color: white;
    color: black;
    border-radius: 12px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
}

#workspaces {
    background: white;
    margin: 2px 1px 3px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bole;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
    color: black;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: white;
    background-color: grey;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: white;
    background: grey;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}

#workspaces button:hover {
    color: white;
    background: grey;
    border-radius: 15px;
    opacity: 0.7;
}
